<!-- <div *ngIf="afAuth.user | async as user; else showLogin">
    <h1>Hello {{ userName }}!</h1>
    <h2>Here's your data:</h2>
    <ul>
      <li class="text" *ngFor="let item of items | async">{{ item }} </li>
    </ul>
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Email</button>
  </ng-template> -->
<h1>Login to Chat App</h1>
  <div>
      <form #loginForm="ngForm"
        (ngSubmit)="onSubmit(loginForm.value)">
    
        <div>
            <label for="userInput">Email</label>
            <input type="text"
                id="userInput"
                placehoder="Email"
                name="userName" ngModel='userName'>
        </div>
        <div>
            <label for="pwInput">Password</label>
            <input type="text"
                id="pwInput"
                placehoder="Password"
                name="pw" ngModel='pw'>
        </div>
        <button type="submit">Submit</button>
    </form>
  </div>
  <button (click)="logout()">Logout</button>